@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

